@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#field {
    display: flex;
    height: 900px;
    width: 900px;
    flex-wrap: wrap;
}

#result {
    height: 900px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.cell {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.cell.winner {
    background-color: green;
}
